.root {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.inner {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px 0;
}
